*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container-header{
    max-width: 1920px;
    width: 100%;
    height: 68vh;
    margin: auto;
    background-color: #129799;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color:#f7f7f7;

}

.container-header div{
    display: flex;
    align-items: center;
}

.container-header h1{
    font-size: 4vw;
}

div img{
    width: 33.3vw;
}

.container-menu{
    width:60%;
    padding: 2vh;
}

.container-header-btm{
    width: 70%;
    padding:2vh;
}

.container-header ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    text-align: center;
    font-size: 13px;
}

.container-menu--list{
    width: 10vw;
    font-size: 20px;
}

.container-header--btmList{
    width: 30vw;
    font-size: 2em;
}

.container-header li:hover{
    cursor: pointer;
    font-weight: 600;
}

.main-h2{
    padding: 30px;
    color: white;
    font-size: 36px;
    text-transform: uppercase;
}

.main-p{
    padding: 30px;
}

footer{
    display: flex;
    background-color: #129799;
}

footer div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 20%;
    margin-left: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-img-social{
    height: 30px;
    width: 30px;
}

.gallery-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.gallery-items{
    width: 540px;
    height: 290px;
}

.gallery-items img{
    width: 100%;
    height: 100%;
}

main{
    background: #FFA185;
    display: flex;
}

.container-main{
    margin-left: 36px;
}

.container-main-a{
    color: black;
    font-weight: 900;
    font-size: 18px;
    display: flex;
    padding: 30px;
    width: 20%;
    margin-left: 540px;
    text-decoration: none;
}

.container-menu-footer{
    width:50%;
    padding: 2vh;
    display: flex;
    margin-left: 80px;
}

.container-footer-ul{
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: center;
    list-style: none;
    text-align: center;
    font-size: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 400px;
    color: white;
    font-weight: 500;
}
